.box {
  background-image: url(./img/tyler-nix-V3dHmb1MOXM-unsplash.jpg);
  background-size: cover;
}
.box-2 {
  background-image: url(./img/amy-hirschi-szrJ3wjzOMg-unsplash.jpg);
  background-size: cover;
}
